# Scala
*.class
*.log
*.sjsir

# Metals
.metals/
.bloop/
project/metals.sbt

# IntelliJ
.idea

# sbt
dist/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache/
.lib/

# Dotty
.dotty-ide-disabled

# NPM
node_modules/

# Integration test artifacts
test-target/

# Temporary snapshot files
test/integration/snapshots/*.actual.js
